body{
    margin: 0px;
    background-color: #595974;
}

#main{
    display: flex;
    align-content: center;
    justify-content: center;
}

#div{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 15vh;
    left: 30%;
    box-sizing: content-box;
    transform: rotate3d(0, 90, 0, 180deg);
    justify-content: center;
    align-items: center;
}

#bok{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 45%;
    background: radial-gradient(rgb(252, 172, 0), rgb(163, 122, 9))
}
