body {
    background-color: var(--base-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

div {
    height: 200px;
    width: 200px;
    background-color: hsl(from var(--base-color) h s calc(l + 15));
}

:root {
    --base-color: hsl(240, 13%, 40%)
}

#colorPicker {
    height: auto;
    position: absolute;
    right: 5%;
    top: 0px;
    background-color: var(--base-color);
}

#spinny {
    background: color-mix(in srgb, #ff00ff 30%, #0fffff 70%)
        /* radial-gradient(#ff00ff, #0fffff); */
}